<a href="/r/{{ pipe.url }}" ng-class="getPipeClasses(pipe)">
	<div class="text">
	{{ pipe.name }}
	</div>
</a>
<div class="job-actions">
	<button class="job-actions-toggle"><i class="fa fa-plane"></i></button>
	<ol>
		<li ng-repeat="job in pipe.jobs | filter: privilegedActionFilter | pipeFilters: getJobFilter():'job':this" ng-class="getJobClasses(job)">
			{{ job.name }}
			<button class="build-action" aria-label="Trigger Build" title="Trigger Build" ng-click="privilegedTriggerJob(job)"><i class="fa fa-plus-circle"></i></button>
		</li>
	</ol>
</div>
<div class="js-animation-wrapper">
	<div class="animation animation-medium"></div>
</div>
<div class="status-bar">
	<table>
		<tr>
			<td ng-repeat="job in pipe.jobs | pipeFilters: getJobFilter():'job':this" ng-class="getJobClasses(job)" title="{{ job.name }}">
				<a href="/r/{{ job.url }}">
					<div class="js-animation-wrapper">
						<div class="animation animation-small"></div>
					</div>
				</a>
				<span class="text" ng-class="getJobTextClasses(job)">{{ job.name }}</span>
			</td>
		</tr>
	</table>
</div>