<a href="/r/{{ pipe.url }}" ng-class="getPipeClasses(pipe)">
	<div class="text">
	{{ pipe.name }}
	</div>
</a>
<div class="job-actions" ng-if="(pipe.jobs | privilegedActionFilter: pipe:'trigger':this | pipeFilters: getJobFilter():'job':this).length > 0">
	<button class="job-actions-toggle"><i class="fa fa-plane"></i></button>
	<ol>
		<li ng-repeat="job in pipe.jobs | privilegedActionFilter: pipe:'trigger':this | pipeFilters: getJobFilter():'job':this" ng-class="getJobClasses(job)">
			{{ job.name }}
			<button ng-if="!job.paused" class="build-action" aria-label="Pause Job" title="Pause Build" ng-click="privilegedPauseJob(job)"><i class="fa fa-pause"></i></button>
			<button ng-if="job.paused" class="build-action" aria-label="UnPause Job" title="UnPause Build" ng-click="privilegedUnPauseJob(job)"><i class="fa fa-play"></i></button>
			<button class="build-action" aria-label="Trigger job" title="Trigger Build" ng-click="privilegedTriggerJob(job)"><i class="fa fa-plus-circle"></i></button>
		</li>
	</ol>
</div>
<div class="js-animation-wrapper">
	<div class="animation animation-medium"></div>
</div>
<div class="status-bar">
	<table>
		<tr>
			<td ng-repeat="job in pipe.jobs | pipeFilters: getJobFilter():'job':this" ng-class="getJobClasses(job)" title="{{ job.name }}">
				<a href="/r/{{ job.url }}">
					<div class="js-animation-wrapper">
						<div class="animation animation-small"></div>
					</div>
				</a>
				<span class="text" ng-class="getJobTextClasses(job)">{{ job.name }}</span>
			</td>
		</tr>
	</table>
</div>